* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #d6d6d6;
    padding: 0px;
}


main {
    background-color: #fff;
    max-width: 600px;
    margin: 40px  auto ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.493);
}


main h1 {
    font-family: Arial, Helvetica, sans-serif ;
    margin-bottom: 20px;
    color: #333;
}


label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}


input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


input[type="radio"] {
    margin-right: 10px;
}


button[type="submit"] {
    background-color: #353535;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button[type="submit"]:hover {
    background-color: #838383;
}


input[type="file"] {
    margin-bottom: 20px ;
}

.error {
    color : rgb(255, 3, 3) ;
    font-family : arial , Calibri  ;
    font-size : 15px ;
    font-weight: 600 ;
    padding: 3% ;
}