/* Style pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    background-color: #f7f8fc;
    padding: 20px;
  }
  
  /* Style pour le formulaire */
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin: 0 auto;

    
  }
  
 
  /* Style pour les labels */
  label {
    display: block;
    font-weight: bold;
  }
  
  /* Style pour les champs de texte */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Pour inclure les bordures et le padding dans la largeur */
  }
  
  /* Style pour le bouton */
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Style pour le bouton au survol */
  input[type="submit"]:hover {
    background-color: #000;
  }

.contenu {
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.493);
    margin: 5px 0 10px 0;
}

.h2 {
    font-size: 24px; 
    color: black; 
    margin-bottom: 20px; 
}
  